/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Federo', sans-serif;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/
/*-- nav --*/
.w3_navigation {
    background: #483d8b ;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {    
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#a020f0;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: .9em 0 .4em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    padding: 0;
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 25px;
    position: relative;
    font-weight: bold;
    font-family: 'Imperial', sans-serif;
    text-shadow: 1px 2px 4px #000000;
}
.navbar-brand span {
       color: #a020f0;
}
p.logo_w3l_agile_caption {
    text-transform: uppercase;
    letter-spacing: 5.7px;
    font-size: 11px;
    color: #c79f07;
    text-shadow: 0px 1px 3px #454a47;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
/*-- nav-effect --*/
.menu__list {
    position: relative;
    margin: 0.69em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: .9em;
	font-weight: bold;
	display: block;
	padding: 1em;
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.3em;
}
li.menu__item:nth-child(6) {
    margin-right: 0;
}
.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	text-shadow: 0px 1px 3px #033815;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#a020f0;
}
/*-- //nav-effect --*/
/*-- //header --*/

/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h4 {
    font-size: 1em;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    color: #ffa500;
    letter-spacing: 27px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Imperial', sans-serif;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.agileits-banner-info h3 span {
    background: rgba(0, 0, 0, 0.68);
    padding: 0 36px;
}
.agileits-banner-info {
    text-align: center;
    padding: 7em 2em;
    margin-top: 8em;
}
.agileits-banner-info p {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    color: #ffa500;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 11px;
    margin: 1em auto;
    font-weight: 300;
    text-transform: uppercase;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 25px;
    position: relative;
    display: inline-block;
    background: #0f2453;
	    margin-top: 3em;
    z-index: 9999;
    border: 2px solid #fff;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#000;
	border: 2px solid #fff;
	background: #a020f0;
}
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top1{
	background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top2{
	background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
}
.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2{
	min-height:700px;
}
.w3ls-banner {
    position: relative;
}
/*-- //banner-top --*/ 
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 56%;
    left: 46.5%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:10px;
    width:10px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
       background:#a020f0;
}
.thim-click-to-bottom {
    position: absolute;
    bottom: 12%;
    left: 49%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom i {
    color: #a020f0;
    border: 2px solid #fff;
    font-size: 18px;
    width: 30px;
    height: 57px;
    text-align: center;
    line-height: 54px;
    border-radius: 20px;
	-webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- //slider --*/

/*--modal--*/
.modal-content  img{
	width:100%;
}
.modal-content h4 {
    color: #0f2453;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.modal-content h4 span {
    color: #a020f0;
}
.modal-content h5 {
    color: #000;
    padding-top: 15px;
    font-size: 22px;
	letter-spacing: 1px;
}
.modal-content p {
    color: #636363;
    font-size: 14.5px;
    letter-spacing: .8px;
    line-height: 32px;
    padding-top: 10px;
	word-spacing: .5px;
}
.modal-header {
    padding: 30px;
}




.book-form-left-w3layouts {
    padding: 0;
}
.book-form-left-w3layouts h2 {
    color: #fff;
    background: #a020f0;
    padding: 60px 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
}





.banner-bottom{
	text-align:center;
}
.agileits_banner_bottom{
	width: 70%;
    margin: 0 auto;
}
.banner-bottom h3 {
    font-size: 1em;
    color: #a020f0;
    line-height: 2.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.banner-bottom h3 span {
    display: block;
    font-size: 25px!important;
    color: #000000;
    font-weight: 500;
}
.banner-bottom h3 i{
	font-weight:300;
}
.w3ls_banner_bottom_grids{
	margin:3em 0 0;
}
.w3l_banner_bottom_grid{
	padding:2em;
	text-align:center;
	border:2px solid #999;
}


/*-- grid-effect --*/
/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding:0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 25%;
    float: left;
    text-align: center;
    border-left: 1px solid #cfdbf3;
}

.cbp-ig-grid li:last-child{
	border-right: 1px solid #cfdbf3;
}

.w3_grid_effect {
    padding: 2em;
    background: rgba(41,167,50, 0.09);
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 1.5em 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-icon:before {
	font-family:FontAwesome;
	font-size: 5em;
	speak: none;
	color: #0f2453;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.w3_case:before {
	content: "\f0b1";
}

.w3_cam:before {
	content: "\f083";
}

.w3_tree:before {
	content: "\f1bb";
}

.w3_pay:before {
	content: "\f09d";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 4px;
	color:#212121;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background:#a020f0;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #a020f0;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}
}

.banner-bottom {
	padding: 100px 0px;
}
/*-- //banner-bottom --*/

/*--copy-right--*/
.copy {
    text-align: center;
    background: #0f2453;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1em;
}
.copy p a {
    color: #a020f0;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/

/*--responsive--*/
@media(max-width:1600px){
	.callbacks_tabs {
		top: 56%;
	}
	.thim-click-to-bottom {
		bottom: 6%;
		left: 49%;
	}
}
@media(max-width:1440px){
	.agileits-banner-info {
		padding: 5em 2em;
	}
	.callbacks_tabs {
		left: 46%;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 640px;
	}
	.thim-click-to-bottom {
		bottom: 11%;
	}
	.fields-w3ls {
		width: 21.5%;
	}
}
@media(max-width:1366px){
	.agileits-banner-info h4 {
		font-size: 3.5em;
	}
	.agileits-banner-info {
		margin-top: 5em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 560px;
	}
	.callbacks_tabs {
		top: 54.5%;
	}
	.thim-click-to-bottom i {
		height: 53px;
	}
	.book-form-left-w3layouts h2 {
		padding: 61px 0;
		font-size: 23px;
		letter-spacing: 3.5px;
	}
	.w3layouts_work_grid_right {
		padding: 5em 11em 0em 6em;
		margin-top: 4em;
	}
	.contact-w3-agile1 iframe {
		height: 190px;
	}
	ul.resp-tabs-list {
		margin-left: 17em;
	}
}
@media(max-width:1280px){
	.book-form form input[type="submit"] {
		margin-left: 0.2em;
	}
	.book-form {
		padding: 0 0 0 23px;
	}
	.w3layouts_work_grid_right {
		padding: 5em 11em 0em 5em;
		margin-top: 2.5em;
	}
	.textbox h4 {
		font-size: 1.7em;
	}
}
